%html
  %head
    %title Project 6 - Viewer
    %meta{:name => 'author', :content => 'John Murray'}
    %script{:src => '/jquery.js', :type=>'text/javascript'}
    %script{:src => '/raphael.js', :type=>'text/javascript'}
    %script{:src => '/main.js', :type=>'text/javascript'}

  %body
    =yield